@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Welcome to our RazorFood Shop</h1>
    <h3>Pizza for all..!!!</h3>
    <img class="shadow mb-3 bg-body rounded" src="~/images/PizzaTime.jpg" />
    </br>
    <a class="btn btn-primary mt-2 text-white text-capitalize" asp-area="" asp-page="CheckOut/ThankYou">Bring me that Pizza :)</a>
</div>
