@page
@model Purchase.Pages.Employee.AddEmployeeModel
@{
}

<div class="card dataForm">
    <form method="post">
        <partial name="_EmployeePartial.cshtml" model="Model.EmployeeModel" />
    </form>
</div>
